{% extends 'base.html' %}
{% load static %}
{% block title %} Skills - {{block.super}} {% endblock %}

{% block content %}

     <section class="skills">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-10">
            <div class="skills-content">
              <h2 class="main-title fw-bold">Technical Skills</h2>
              <!-- <h4 class="btn btn-outline-secondary">Read</h4> -->
              <hr>
            </div>
            <div class="skill-description">
              <p class="text-justify">
                I have over 5+ years of experience as a software engineer, and have worked at both small startups and
                large organizations.
                While I'm a proficient full-stack developer, my expertise is in building scalable backend services
                (API services, stream processing, and async mechanisms).
              </p>
              <p class="text-justify">
                I love music, dance, reading book, hacking and playing cricket.
                I contribute to open source projects at leisure.
                I would love to pursue challenging opportunities which contribute to a better tomorrow for all of
                us!
              </p>
              <h2 class="fw-bold mt-4">What is in my skill set?</h2>
              <p class="text-justify">
                I am a <span class="fw-bold">full stack developer</span>
                with extensive experience in system administration.
                I have played with a lot of tools and toys. However, I would call these my primary skills:
              </p>
              <br>
              <h3 class="fw-bold">Backend : </h3>
              <p>
                You can call me a dedicated Python Developer.
                I love all things Python.
                I have 5+ years of working experience with different Python tools and toys.
              </p>
              <div class="tech-list-container">
                <ul>
                  <li class="mb-2">Python</li>
                  <li class="mb-2">Django</li>
                  <li class="mb-2">Django Rest Framework</li>
                </ul>
                <ul>
                  <li class="mb-2">Flask</li>
                  <li class="mb-2">Celery</li>
                  <li class="mb-2">BeautifulSoup</li>
                </ul>
              </div>
              <h3 class="fw-bold">Frontend :</h3>
              <p class="text-justify">
                  I have mostly worked as a backend developer during my career over the past 1-2 years.
                  But I have had my share of front end development too.
                  I am definitely <span class="fw-bold">not</span> a kickass front end ninja but I do know
                  more than enough HTML, CSS and JavaScript to build decent Web UIs and mobile applications.
              </p>
              <div class="tech-list-container">
                <ul>
                  <li class="mb-2">JavaScript</li>
                  <li class="mb-2">jQuery</li>
                  <li class="mb-2">Dom</li>
                  <li class="mb-2">Json</li>
                  <li class="mb-2">ReactJS</li>
                </ul>
                <ul>
                  <li class="mb-2">NextJS</li>
                  <li class="mb-2">Bootstrap</li>
                  <li class="mb-2">Tailwind CSS</li>
                  <li class="mb-2">Css Grid</li>
                  <li class="mb-2">CSS Flexbox</li>
                </ul>
              </div>
              <p class="fw-bold">I am learning ES2018 and beyond for writing cleaner codes.</p>
              <br>
              <h3 class="fw-bold">Mobile application:</h3>
              <p>Building iOS and Android Apps Using <span class="fw-bold">React native</span></p>
              <br>
              <h2 class="fw-bold">Tool Set: </h2>
              <p class="text-justify">
                  I know <span class="fw-bold">git</span> and work on
                  <span class="fw-bold">OS X. </span>
                  I am also a big fan of <span class="fw-bold">Docker</span> and find it a painless solution
                  to develop and deploy my applications.
                  I have working experience with <span class="fw-bold">MySQL</span>,
                  <span class="fw-bold">PostgreSQL</span> and
                  <span class="fw-bold">SQLs</span> as well.
                  I will not only <span class="fw-bold">build</span> your app but also
                  <span class="fw-bold">deploy</span> it to cloud providers like heroku, Digital Ocean, or
                  any VPS.
                  I am a believer in <span class="fw-bold">code quality</span> and follow the best practices.
                  I use <span class="fw-bold">Jetbrains IDEs</span> for optimum productivity and cleaner
                  codes.
                  I believe every developer should write <span class="fw-bold">unit tests</span>
                  before starting to write business logic. BDD and <span class="fw-bold">TDD</span> are my
                  super secret ninja skills against bugs.
              </p>
              <p class="text-justify">
                  While I am mostly focused on Python, and Javascript, I love learning new technologies and adapt
                  new tools to solve challenging problems. I have decent expertise in these tools too:
              </p>
              <p class="text-justify">
                  <span class="fw-bold">Redis:</span>
                  I have used it as message queue, cache and data store.</p>
              <p class="text-justify">
                  <span class="fw-bold">Golang:</span>
                  I am a big fan of it’s concurrency model, simple syntax and a nice standard library.
                  I have written several command line tools in the language.
                  Cross compilation and the go fmt tool is a big plus for me.
              </p>
              <br>
              <h2 class="fw-bold">What do I want to learn next?</h2>
              <ul class="ml-5">
                  <li>Machine Learning</li>
                  <li>Data Science</li>
                  <li>Natural Language Processing</li>
                  <li>Design Patterns in Python</li>
              </ul>
              <br>
              <h2 class="fw-bold mb-3">How can I add value to your business?</h2>
              <p class="text-justify">
                  I have a very keen interest in growth hacking.
                  I try to understand the business process and add values to both customers and the business.
                  I assume ownership and lead by example.
                  I think out of the box and bring novelty to the table.
                  <br>
                  <br>
                  I translate the <span class="fw-bold">business requirements</span> into
                  <span class="fw-bold">agile</span>
                  software development practices and stride to achieve enhanced
                  <span class="fw-bold">value creation</span> for all of us!
              </p>
              <br>
              <h2 class="fw-bold">Community Engagement</h2>
              <ul class="ml-5 text-danger">
                  <li>Python Bangladesh</li>
                  <li>Talk.js</li>
                  <li>BASIS Student's Forum DIU Chapter</li>
                  <li>Bangladesh Innovation Forum</li>
                  <li>Django-community -DIU</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}